<!DOCTYPE html>
<html>
	<%- partial('_partial/head') %>
	<body>
		<div id="headerline"></div>
	
		<header>
			<div class="wrapper">
				<div id="title">
					<a href="/">Mark S. Rasmussen</a> <span>improve.dk</span>
				</div>
				
				<nav>
					<ul class="normal">
						<li class="navicon"><img src="/img/navicon.png" /></li>
						<li><a href="/about-me/">About Me</a></li>
					</ul>
				</nav>
				
				<ul id="sharing">
					<li><a href="mailto:mark@improve.dk"><img src="/img/at.png" /></a></li>
					<li><a href="http://feeds.feedburner.com/Improvedk"><img src="/img/rss.png" /></a></li>
					<li><a href="https://www.linkedin.com/in/markrasmussen/"><img src="/img/linkedin.png" /></a></li>
					<li><a href="https://twitter.com/improvedk"><img src="/img/twitter.png" /></a></li>
				</ul>

				<div class="clear"></div>
				
				<div id="naviconcontent">
					<ul class="mobile">
						<li>
							Pages
							<ul class="pages"></ul>
						</li>
						<li>
							Categories
							<ul class="categories"></ul>
						</li>
						<li>
							Archive
							<ul class="archive"></ul>
						</li>
					</ul>
				</div>
			</div>
		</header>

		<div id="mainwrapper">
			<div id="contentwrapper">
				<div id="content">
				
					<%- body %>

				</div>
			</div>

			<div id="asides">
				<div class="categories aside">
					<span class="sectiontitle">CATEGORIES</span>
					<%- list_tags({
						show_count: false
					}) %>

					<%- site.categories[0] %>
				</div>

				<div class="archive aside">
					<span class="sectiontitle">ARCHIVE</span>
					<%- list_archives({
						show_count: false,
						order: 'desc',
						type: 'yearly'
					}) %>
				</div>
			</div>

			<div class="clear"></div>
		</div>
		
		<footer>
			<div class="wrapper">Copyright &copy; <%= new Date().getFullYear() %> Mark S. Rasmussen</div>
		</footer>

		<%- partial('_partial/footerscripts.ejs') %>
	</body>
</html>